In [1]:
from ml_svm_project.src.useful_tools import *
from ml_svm_project.src.features_extraction import *
import pandas as pd
import numpy as np
import talib
import matplotlib.pyplot as plt

In [2]:
df = keep_essentials(pd.read_csv("../data/data.csv"))

In [3]:
df = generate_all_features_df(df, [10])

Generating original features...
Generating momentum features...
Generating math features...
Generating cossin time features...

In [5]:
df.shape[1]

55

In [3]:
generate_og_features_df(df, [10, 20])

Generating original features...

In [6]:
normalize_features(df, 1000)

In [7]:
df

        ADOSC_10    MFI_10  ADOSC_20    MFI_20
0            NaN       NaN       NaN       NaN
1            NaN       NaN       NaN       NaN
2            NaN       NaN       NaN       NaN
3            NaN       NaN       NaN       NaN
4            NaN       NaN       NaN       NaN
...          ...       ...       ...       ...
379720 -0.022796 -1.155553 -0.422069 -1.314966
379721 -0.008806 -0.929458 -0.400865 -1.231429
379722  0.003429 -1.614338 -0.380489 -1.101295
379723  0.026165 -1.157165 -0.356121 -1.169470
379724  0.033489 -1.298441 -0.337585 -1.577124

[379725 rows x 4 columns]